<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/nav.ejs') %> 
<div class="container">
  <hr>
  <h2>Artigos</h2>
  <a href="/admin/articles/new"><button class="btn btn-success" type="button">Criar nova Artigo</button></a>
  <hr>
  <table class="table table-bordered">
    <tbody>
      <% articles.forEach(article => {%>
        <tr>
          <td><%=article.id%></td>
          <td><%=article.title%></td>
          <td><%=article.slug%></td>
          <td><%= article.category.title%> </td>
          <td>
           <form action="/articles/delete" style="display: inline;" method="post"onsubmit="confirmDelete(event,this)" >
              <input type="hidden" name="id" value="<%= article.id%>">
            <button class="btn btn-danger ">Deletar</button>
          </form>
          </td>
        </tr>
        
      <%}); %> 
     </tbody>
  </table>
</div>

<%- include ('../../partials/footer.ejs') %> 
<script>
  function confirmDelete(event,form) 
  {
    event.preventDefault();
    var decision = confirm("Voce quer Deletar esta Artigo");
    if (decision) {
      form.submit();
    }  
  }

</script>