<%- include ('partials/header.ejs') %>
  <%- include ('partials/homenavbar.ejs') %>

    <body>
  
      <div class="container">
        <hr>
        <div class="jumbotron">
          <h1 class="display-4">Bem Vindo ao Blogão</h1>
          <p class="lead">Este e um exercico de aprendisagem </p>
          <hr class="my-4">
          
        </div>
        <hr>
        <% article.forEach(article => {%>
         <div class="card">
          <div class="card-header"><h3><%= article.title %> </h3> </div>
          <div class="card-body"><a class="btn btn-success" href="/<%= article.slug%> ">Ler Artigo</a></div>

        </div>
        <br>
          
        <%}); %> 
      </div>
    </body>
    <%- include ('partials/footer.ejs') %>